<%- include('layout') %>

<%- include('navbar') %>

<div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row p-2">
        <div class="flex-grow-1 w-100">
            <form action="/stock" method="get">
                <div class="mb-3">
                    <label for="symbol" class="form-label">Stock Symbol</label>
                    <input class="form-control" list="browsers" name="symbol" id="browser">
                    <%
                    // Define the list of stocks
                    let stockSymbols = [
                        "AAPL", "ABBV", "ABT", "ACN", "ADBE", "ADP", "AGN", "AIG", "AMGN", "AMT",
                        "AMZN", "ANTM", "AXP", "BA", "BAC", "BDX", "BKNG", "BLK", "BMY", "BRK.A",
                        "C", "CAT", "CB", "CI", "CL", "CLX", "CMCSA", "COST", "CRM", "CSCO",
                        "CVS", "CVX", "D", "DE", "DIS", "DHR", "DUK", "ECL", "EL", "F",
                        "FB", "GD", "GE", "GILD", "GM", "GOOGL", "GS", "HD", "HON", "ICE",
                        "INTC", "INTU", "ISRG", "ITW", "JNJ", "JPM", "KMB", "KO", "LIN", "LLY",
                        "LOW", "MA", "MCD", "MDLZ", "MDT", "MMC", "MO", "MRK", "MS", "MSFT",
                        "NEE", "NFLX", "NKE", "NSC", "NVDA", "ORCL", "PEP", "PFE", "PG", "PLD",
                        "PYPL", "QCOM", "RTX", "SBUX", "SCHW", "SLB", "SO", "SPGI", "SYK", "T",
                        "TGT", "TJX", "TMO", "TXN", "UNH", "UNP", "UPS", "USB", "V", "VZ",
                        "WMT", "XOM", "ZTS"
                    ];
                    %>
                    <datalist id="browsers">
                        <% stockSymbols.forEach((stock) => { %>
                        <option value="<%= stock %>">
                            <% }); %>
                    </datalist>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="flex-grow-1 w-100">
            <% if (stock) { %>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"><%= symbol %></th>
                        <th scope="col">USD</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Current price</th>
                            <td><%= stock.c %></td>
                        </tr>
                        <tr>
                            <th scope="row">High price of the day</th>
                            <td><%= stock.h %></td>
                        </tr>
                        <tr>
                            <th scope="row">Low price of the day</th>
                            <td><%= stock.l %></td>
                        </tr>
                        <tr>
                            <th scope="row">Open price of the day</th>
                            <td><%= stock.o %></td>
                        </tr>
                        <tr>
                            <th scope="row">Previous close price</th>
                            <td><%= stock.pc %></td>
                        </tr>
                    </tbody>
                </table>

                <form action="/buy" method="post">
                    <label class="form-label">Number of <%= symbol %> shares to buy</label>
                    <input type="number" name="quantity" required min="1">
                    <input type="hidden" name="stock_symbol" value="<%= symbol %>">
                    <button type="submit" class="btn btn-primary">Buy Stock</button>
                </form>
            <% } %>
        </div>
    </div>
</div>